<html ng-app="app">
    <head>
		<meta charset="UTF-8">
        <title>07 - Http Requisições Assincronas</title>
        
		<!-- script angular -->
        <script src="js/angular/angular.min.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-controller="controllerHttp">
        <div>
            <button ng-click="loadStates()">Carregar Estados</button>
            <p ng-repeat="state in datas">{{ state.nome }} - {{ state.sigla }}</p>
        </div>

        <hr />
        <div>
            Digite um valor de 1 até 15<input type="number" ng-model="idCustomers">
            <button ng-click="loadCustomers()">Carregar Cidade</button>
            <p>{{ dataCustomers.City }}</p>
            <b>Fonte: http://www.w3schools.com/angular/customers.php </b>
        </div>
    </body>
</html>
