<html ng-app="appResource">
    <head>
		<meta charset="UTF-8">
        <title>Resource</title>

		<!-- script angular -->
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-resource.min.js"></script>
        <script src="js/modules.js"></script>
        
        <script src="js/resourceController.js"></script>

    </head>
    <body>
    
    	<div ng-controller="ResourceController">
    		<button ng-click="loadBook()">Carregar Livros</button>
	   		<button ng-click="saveBook()">Salvar Livro</button>
    		<button ng-click="getBook(30)">Carregar livro id: 30</button>
    		<h1>{{ message }}</h1>
    	</div>

    </body>
</html>
