.hide {
    -moz-transition: all linear 1s;
    -webkit-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}

.hide {
    padding: 10px;
    border: 1px solid black;
    backgroud: white;
}

.hide.ng-hide {
    opacity: 0;
}

.hide-ng-show {
    opacity: 1;
}

.repeat-list {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}

.repeat-list.ng-enter {
    -moz-transition: all linear 2s;
    -webkit-transition: all linear 2s;
    -o-transition: all linear 2s;
    transition: all linear 2s;
    opacity: 0;
    background-color: green;
}

.repeat-list.ng-enter-active {
    opacity: 1;
    background-color: white;
}